NODE_ENV=production
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tech_store"

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
AWS_BUCKET_NAME=""
AWS_ENDPOINT=""
NEXT_PUBLIC_AWS_ENDPOINT=""
NEXT_PUBLIC_AWS_BUCKET_NAME=""

SMTP_HOST="smtp.ethereal.email"
SMTP_PORT=587
SMTP_USER="stefanie.roberts1@ethereal.email"
SMTP_PASS="dAwn9SAVyTCwQHMnJX"
SMTP_SECURE="false"

ADMIN_PASSWORD=admin123
